/* css to reset all the designs */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



/* NAVBAR MENU */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* css to reset all the designs */

/* add styles on elements */

.header {
  border-bottom: 1px solid #00A4CC;
  background-color: #00A4CC;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #101010; */
  background-color: #fff;
}

.nav-logo {
  margin-left: 5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 7rem;
  z-index: 1000;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  /* font-size: 1.6rem; */
  font-size: 2rem;
  font-weight: 400;
  /* color: #475569; */
  color: #ffffff;
  /* change */
}

.nav-link:hover {
  color: black;
}

.nav-logo {
  /* font-size: 2.1rem; */
  font-size: 3rem;
  font-weight: 500;
  /* color: #482ff7; */
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    /* background-color: #fff; */
    background-color: #222;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    color: #fff;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Card Container Styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Space between cards */
    padding: 4rem 1.5rem 4rem 1.5rem;
    justify-items: center; /* Center cards within the grid */
    background-color: grey;

}

.card-kota {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.card-image-kota {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.h2-card{
  text-align: center;
  margin: 5rem 0 1rem 0;
  font-size: 2rem;
  color: #482ff7;
}

.card-description {
    font-size: 1.5rem;
    color: #555;
}



/* footer */
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
      width:100%;
      margin:1% 0%;
      padding:0.6% 0%;
      color:gray;
      font-size:1.5rem;
      
      }
      
      .footer .row a{
      text-decoration:none;
      color:gray;
      transition:0.5s;
      margin: 0 1rem 0 1rem;
      }
      
    .footer .row a:hover{
    color:#482ff7;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }










/* TESTIMONI */

.h2-testimoni{
  text-align: center;
  margin: 5rem 0 1rem 0;
  font-size: 2rem;
  color: #482ff7;
}
    .slide-container{
      max-width: 1120px;
      width: 100%;
      padding: 40px 0;
      margin: 4rem 0 4rem 0;
    }
    .slide-content{
      margin: 0 40px;
      overflow: hidden;
      border-radius: 25px;
    }
    .card{
      border-radius: 25px;
      background-color: #FFF;
    }
    .image-content,
    .card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 14px;
    }
    .image-content{
      position: relative;
      row-gap: 5px;
      padding: 25px 0;
    }
    .overlay{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #4070F4;
      border-radius: 25px 25px 0 25px;
    }
    .overlay::before,
    .overlay::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: -40px;
      height: 40px;
      width: 40px;
      background-color: #4070F4;
    }
    .overlay::after{
      border-radius: 0 25px 0 0;
      background-color: #FFF;
    }
    .card-image{
      position: relative;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: #FFF;
      padding: 3px;
    }
    .card-image .card-img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid #4070F4;
    }
    .name{
      font-size: 18px;
      font-weight: 500;
      color: #333;
    }
    .description{
      font-size: 14px;
      color: #707070;
      text-align: center;
    }
    .button{
      border: none;
      font-size: 16px;
      color: #FFF;
      padding: 8px 16px;
      background-color: #4070F4;
      border-radius: 6px;
      margin: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .button:hover{
      background: #265DF2;
    }
    .swiper-navBtn{
      color: #6E93f7;
      transition: color 0.3s ease;
    }
    .swiper-navBtn:hover{
      color: #4070F4;
    }
    .swiper-navBtn::before,
    .swiper-navBtn::after{
      font-size: 35px;
    }
    .swiper-button-next{
      right: 0;
    }
    .swiper-button-prev{
      left: 0;
    }
    .swiper-pagination-bullet{
      background-color: #6E93f7;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background-color: #4070F4;
    }
    @media screen and (max-width: 768px) {
      .slide-content{
        margin: 0 10px;
      }
      .swiper-navBtn{
        display: none;
      }
    }